.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: rgba(var(--greys), 1);
  min-width: 12.5rem; /* 200px */
}

/* Table Design */
.inventory-table-container {
  width: 100%;
  overflow: auto;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th, 
.inventory-table td {
  padding: 1rem 1rem;
  text-align: left;
}

.inventory-table th {
  color: rgba(var(--whites), 1);
  background: rgba(var(--primary), 1);
}

.inventory-table td {
  background-color: rgba(var(--greys), 0.1);
}

.no-products-message {
  text-align: center;
  color: rgba(var(--greys),1);
  padding: 24px;
  font-style: italic;
  font-size: 16px;
}

.sub-table-row td {
  padding: 0;
}

.sub-table-container {
  background-color: rgba(var(--background));
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sub-inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.sub-inventory-table th,
.sub-inventory-table td {
  padding: 1rem 0.75rem;
  text-align: left;
}

.sub-inventory-table th {
  color: rgba(var(--whites));
  background: rgba(var(--primary), 0.6);
}

.sub-inventory-table td {
  vertical-align: middle;
  background-color: rgba(var(--background), 1);
}

/* --- Modals --- */
.modal-overlay.active {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(var(--blacks),0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* --- Add Products --- */
.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remove-file-btn {
  padding: 0;
  color: rgba(var(--blacks), 0.8);
  display: flex;
  align-items: center;
  background-color: transparent;
}

/* This is the key: it hides the default "Choose File" button */
.file-input-hidden {
  display: none;
}

.file-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed rgba(var(--blacks), 1);
  border-radius: 0.25rem;
  padding: 1.5rem; /* 24px */
  text-align: center;
  cursor: pointer;
  gap: 1rem;
}

.file-drop-zone:hover {
  background-color: rgba(var(--whites), 0.5);
}

.outline-browse {
  background-color: transparent;
  color: rgba(var(--primary), 1);
  outline: rgba(var(--primary), 1) solid 2px;
  display: inline-block; /* Allows padding and styling */
  padding: 1rem 2rem;
  border-radius: 0.5rem;;
  font-size: var(--normal);
  font-weight: var(--bold);
}

.outline-browse:hover {
  background-color: rgba(var(--primary), 0.8);
  color: rgba(var(--whites), 1);
  outline: rgba(var(--primary), 1) solid 2px;
}

.outline-browse:active {
  background-color: rgba(var(--blacks), 0.8);
  color: rgba(var(--whites), 1);
  outline: rgba(var(--blacks), 1) solid 2px;
}

/* DPP Modal */
.dpp-modal-pre {
  max-width: 650px;
  max-height: 60vh;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  background: var(--main-bg);
  padding: 16px;
  border-radius: 8px;
}

.confirm-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
