/* For both Signup.jsx & Login.jsx */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background: linear-gradient(120deg,
    rgb(var(--primary)) 0%,
    rgb(var(--secondary)) 100%);
  background-size: 200% 200%;
  animation: gradientMove 5s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image-section-img {
  max-width: 100%;
}
