.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  padding: 4rem; /* 64px */
  gap: 1rem; /* 16px */
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem; /* 32px */
  padding: 2rem; /* 32px */
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
}